# Compiled class file
*.class
*.iml
# Log file
*.log

/.idea/
/.gradle/

# Modules:

/buildSrc/.gradle/
/buildSrc/build/

/plugin/build/

/sample/build/

/sample-library/build/

/sample-library-groovy/build/

# Local
local.properties
